$font-stack: 'Helvetica Neue', sans-serif;
$font-size: 12pt;
$font-size-emph: 14pt;
$font-size-deemph: 10pt;
$font-size-title: 21pt;

$page-padding: 15vw;
$header-height: 60px;
$footer-height: 60px;
$side-profile-width: 210px;
$side-profile-image-width: 200px;
$hamburger-menu-width: 200px;

$layout-breakpoint: 1000px;